.nav__link
    color: black
    &--active
        color: crimson

.todos
    &__layout
        border: 1px dashed black
        padding: 0 10px 10px 10px
        margin: 10px 0

    &__item
        color: black
        &--done
            color: crimson
